html {
    scroll-behavior: smooth;
}
.is-180x180{
    height: 180px;
    width: 180px;
}
.skill-list > li{
    margin: 30px 0 0 0;
}
.has-bg-image {
    /* background-image: url('../images/firas3.webp'), url('../images/firas3.jpg');  */
    background-image: url('../images/firas3.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
}

.header {
    position: relative;
    min-height: 150px;
  }

.is-aligned-bottom {
    position: absolute;
    bottom: 15%;
    left: 2%;
}

@media only screen and (max-width: 1024px) {
    .has-bg-image  {
        background-image: url('../images/firas3_2.webp');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
  }

  @media only screen and (min-width: 1024px) {
    .has-bg-image  {
        background-image: url('../images/firas3_long.webp');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
  }

.bulma-image {
    width: 200px;
}
.interests {
    display: flex;
    justify-content: center;
}
.summary-text {
    margin-left: auto;
    margin-right: auto;
    max-width: 36em;
}
.article {
    height: 100%;
}
.skill-card {
    height: 100%;
}
.skill-title {
    font-weight: bold;
}
.skill-icon {
    padding: 20px;
}

.title a {
    text-decoration: none;
    color: inherit;
}